<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/png" href="/logo.jpg" />
    <script src="https://kit.fontawesome.com/2e554e2698.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="sign_up">
        <div class="sign_up_form">
            <h1>Đăng nhập</h1>

            <!-- Form Đăng Nhập -->
            <form action="/login" method="post">
                <p><input type="username" placeholder="Tên đăng nhập" name="username" id="username" required></p>
                <p><input type="password" placeholder="Mật khẩu" name="password" id="password" required></p>
                <div id="form_button">
                    <button type="submit" id="submit">ĐĂNG NHẬP</button>
                    <a href="#"><button type="button" id="forget">Quên mật khẩu?</button></a><br>
                    <p><a href="/"><i class="fas fa-long-arrow-alt-left"></i> Quay lại trang chủ</a></p>
                </div>
                <div class="d-flex justify-content-center">
                    <span class="text-danger">
                        <%= error.account %>
                    </span>
                </div>
            </form>

            <div class="sign_up_with">
                <ul id="sign_up_with">
                    <li>Đăng nhập với</li>
                    <li><a href="#"><i id="sign_up_with_icon1" class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i id="sign_up_with_icon2" class="fab fa-google"></i></a></li>
                    <li><a href="#"><i id="sign_up_with_icon3" class="fab fa-twitter"></i></a></li>
                </ul>
                <p class="text-center mt-3">Chưa có tài khoản? <a href="/signup">Đăng ký</a></p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>