<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">NA Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list-product">Danh sách sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Liên hệ</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="/list-product" method="get">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Tìm kiếm..." name="search">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <a class="btn btn-success btn-sm ml-3" href="/cart">
                <i class="fa fa-shopping-cart"></i> Giỏ hàng
                <span class="badge badge-light">
                    <%= cart.length %>
                </span>
            </a>
            <ul class="navbar-nav m-auto">
                <% if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Đăng nhập</a>
                    </li>
                    <% } else { %>
                        <li>
                            <span class="nav-link">Xin chào <%= user.name %> <a href="/logout">Đăng xuất</a></span>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>